# Ignore local SDKs and archives
CSD-420/openjfx-24.0.2_windows-x64_bin-sdk/
**/javafx-sdk-*/
**/*.zip
**/*.dll
**/*.msi
**/*.exe
out/
bin/
.classpath
.project
.settings/
**/.vscode/
# (Optional) ignore the other course folder
CSD-402/