
# Ignore local SDKs and archives
CSD-420/openjfx-24.0.2_windows-x64_bin-sdk/
**/javafx-sdk-*/
**/*.zip
out/
bin/
.classpath
.project
.settings/
# (Optional) ignore the other course folder if you don't want to commit it here
CSD-402/